.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.score {
  display: flex; 
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#fakingcanvas {
  border: 1px solid #000;
  overflow: hidden;
  position: relative;
  background-color: #70C5CF;
}

/*@media screen and (min-width: 500px) {
  #fakingcanvas {
    left: 40%;
  }
}*/